
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 100px;
      gap: 10px;
      width: 200px;
      height: 200px;
    }
    .grid-item {
      background-color: #8e44ad;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .item1 {
      grid-column-start: 1;
      grid-column-end: 3; /* Spans from column line 1 to column line 3 */
      grid-row-start: 2;
      grid-row-end: 2; /* Spans from row line 1 to row line 3 */
    }
    .item21 {
      grid-column-start: 3;
      grid-column-end: 5; /* Spans from column line 3 to column line 5 */
      grid-row-start: 1;
      grid-row-end: 2; /* Spans from row line 1 to row line 2 */
    }
    .item31 {
      grid-column-start: 1;
      grid-column-end: 2; /* Spans from column line 1 to column line 2 */
      grid-row-start: 3;
      grid-row-end: 5; /* Spans from row line 3 to row line 5 */
    }
