.flexContainer1,
.flexContainer2 {
  display: flex;
  height: 300px;
  width: 900px;
}
.flexContainer1 {
  background-color: pink;
}
.flexContainer2 {
  background-color: purple;
}
.flexContainer1 div,
.flexContainer2 div {
  /* height: 100px;
  width: 100px; */
  margin: 10px;
}
.flexContainer1 div {
  background-color: red;
}
.flexContainer2 div {
  background-color: blue;
}
.flex-item {
  flex-grow: 1;
}