.flexContainer1{
  display: flex;
  height: 300px;
  width: 50%;
  /* now when we change screen size main container size will chnage acc ot screen and there chil item as well */
}
.flexContainer1 {
  background-color: pink;
}

.flexContainer1 div{
  height: 100px;
  width: 200px;
  margin: 10px;
}
.flexContainer1 div {
  background-color: red;
}

.flex-item1 {
  flex-shrink: 2;
}
.flex-item4 {
  flex-shrink: 4;
}
.flex-item5 {
  flex-shrink: 4;
}